%ul.accordion{"data-accordion" => "", :role => "tablist"}
  %li.accordion-navigation
    %a#help-heading{"aria-controls" => "help", :href => "#help", :role => "tab"}
      自定义查询使用帮助
    #help.content.active{"aria-labelledby" => "help-heading", :role => "tabpanel"}
      %h5 条件组的范围及条件之间关系选择
      %p 每个条件组的作用范围以灰色矩形框标出，条件组内各条件/条件组的关系根据矩形框上方的下拉框确定，如“匹配组内所有条件”，则同一条件组内各个条件之间为AND的关系；“匹配组内任一条件”，则同一条件组（矩形框）内所有条件为OR的关系。可以利用条件组的嵌套来定义复杂的AND/OR查询条件，如（年龄> ？？ AND （体重= ？？ OR 身高 < ？？））,每对括号表示一个条件组，括号嵌套对应表示条件组作用范围的矩形框的嵌套。
      %h5 条件查询谓词（中间下拉框）特殊限制
      %p 查询”恶性肿瘤既往史“、”乳腺癌家族史“、”卵巢癌家族史“时，选择”是否存在“这一选项进行查询
      %p 查询”ER“、”PR“、”Ki67“时根据数字查询，可以选择大于、等于、小于等表示数值大小关系的谓词。如“Ki67” “小于等于” “14”。
      %p 对于使用数值存储的条目，可以使用”等于“、”大于等于“等等表示数值大小关系的谓词。包含文字的条目，如“姓名”，使用“等于”、“包含”这两个谓      词进行查询。其余情况默认选择”等于“。
      %h5 多选构造帮助
      %p 可以通过添加条件组-> 匹配组内任一条件->添加多个相同条目的条件来构造。如(CT分期 等于 0 OR CT分期 等于 2)。
