- content_for :side_bar do
  = render 'shared/sidebar_project'

%h2
  研究干预列表
  %small 共有#{@research_groups.total_count}个

- operations = {view:{ }}

= render partial: 'shared/table', locals: { columns: [:name,:project_name,:courses_schedules_count,:created_at], collection: @research_groups, operations: operations,
                                        url_method: {view: (method :research_group_path)} }

= paginate @research_groups

