= simple_form_for [@project,@relationship] do |f|
  %fieldset
    %legend
    = f.input :user_id,collection:User.all,label_method: :realname, label:"用户名"
    = f.input :center_id,collection:Center.all, label:"授权中心"
    = f.button :submit, class: [:small, :radius]
