- writable = @center.new_record? || action_name == 'edit' || @center.errors.any?

= simple_form_for @center, html: {'data-abide': '', class: writable ? nil : 'disabled'} do |f|
  - required = "必填"
  %fieldset
    %legend
      中心基本信息
    .row

      = f.input :name
      = f.input :description

  - if writable
    = f.button :submit, class: [:small, :radius]
