%footer
  .row
    .columns.medium-6
      %ul.no-bullet
        %h6 合作机构
        %li
          %a.th{href: 'http://www.rjhbc.com/'}
            = image_tag 'badge_rj_100.png', alt: 'rj_badge', title: '上海交通大学医学院附属瑞金医院'
          %a.th{href: 'http://www.sjtu.edu.cn'}
            = image_tag 'badge_sjtu_100.png', alt: 'sjtu_badge', title: '上海交通大学'

    .columns.medium-4
      %ul.no-bullet
        %h6 联系方式
        %li 电话：（021）64370045总机，转601968
        %li 地址：上海市瑞金二路197号（永嘉路口）
        %li 邮件：sjtu_bcdb@163.com

    -#.columns.medium-2
    -#  %ul.no-bullet
    -#    %h6 帮助
    -#    %li bug反馈
    -#    %li 使用说明
    -#    %li 隐私说明
