%footer
  .row
    -# .columns.medium-6.right-align
      -# %ul.no-bullet
        -# %h6 合作机构
        -# %li
          -# %a.th{href: 'http://www.rjhbc.com/'}
            -# .img
              -# = image_tag 'badge_rj_100.png', alt: 'rj_badge', title: '上海交通大学医学院附属瑞金医院'
          -# %a.th{href: 'http://www.sjtu.edu.cn'}
            -# .img
              -# = image_tag 'badge_sjtu_100.png', alt: 'sjtu_badge', title: '上海交通大学'

    .columns.medium-6.right-align
      %ul.no-bullet
        -# %h6 联系方式
        -# %li 电话：（021）64370045总机，转601968
        -# %li 地址：上海市瑞金二路197号（永嘉路口）
        -# %li 邮件：sjtu_bcdb@163.com
        %li 上海交通大学和上海交通大学医学院附属瑞金医院版权所有@2016-2018   上海交通大学CIT实验室维护

    -# .columns.medium-2
      -# %ul.no-bullet
        -# %h6 帮助
        -# %li bug反馈
        -# %li 使用说明
        -# %li 隐私说明
