%ul.side-nav

  %li
    %ul
    %li.divider
      %li
        %a.fi-list-thumbnails{href: '#'}
          用户列表
      %li
        %a.fi-plus{href: '#'}
          新建用户
    %li.divider
      %li
        %a.fi-list-thumbnails{href: '#'}
          角色列表
      %li
        %a.fi-plus{href: '#' }
          新建角色
    %li.divider
      %li
        %a.fi-list-thumbnails{href: '#'}
          中心列表
      %li
        %a.fi-plus{href: '#' }
          新建中心
