%ul.side-nav

  %li
    %ul
    %li.divider
      %li
        %a.fi-list-thumbnails{href: projects_path }
          项目列表
      %li
        %a.fi-plus{href: new_project_path }
          新建项目
    %li.divider
      %li
        %a.fi-list-thumbnails{href: research_groups_path}
          （分组）研究干预列表
      %li
        %a.fi-plus{href: new_research_group_path }
          新建（分组）研究干预

  %li.divider
    %li
      %a{href: project_system_configuration_path}
        返回
