%h3 选择已授权项目
= simple_form_for :project do |f|

   = f.input :project, label: Project.model_name.human, collection: @available_projects, as: :select, required: true,include_blank: false
   = f.button :submit,"Enter this project", class: [:tiny, :radius]