- required = "必填"
.nested-fields
  %b= link_to_remove_association "delete", f, data: {confirm: "Do you wanna to delete?"}
  - if f.object.persisted?
    = f.hidden_field :id, value: f.object.id

  .row
    = f.association :center ,label_method: :name, value_method: :id, include_blank: false, label:"中心名"
    = f.input :planned_patients_count, label:"计划录入病例数"


