- required = "必填"
.nested-fields
  %b= link_to_remove_association "delete", f, data: {confirm: "Do you wanna to delete?"}
  - if f.object.persisted?
    = f.hidden_field :id, value: f.object.id

  .row
    = f.association :user ,label_method: :realname, value_method: :id, label:"用户名"
    = f.input :center_id,collection:Center.all, label:"授权中心"

