- required = "必填"
.nested-fields
  %fieldset
    %legend
      关联中心
      = link_to_remove_association "delete", f, data: {confirm: "Do you wanna to delete?"}

    - if f.object.persisted?
      = f.hidden_field :id, value: f.object.id

    .row
      = f.association :center ,label_method: :name, value_method: :id, include_blank: false
      = f.input :planned_patients_count


