%h3
  = "查看"+"随访信息表"
  = render 'shared/edit_link', ob: @patient, path: edit_patient_followup_path(@patient,@followup)
  %small
    -if @followup.id==@patient.followups.all.last.id
      %a.fi-x{href: patient_followup_path, data: {method: 'delete', confirm:"危险操作！是否确认删除？"}}
        删除

= render partial: 'form_followup'