/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *  require_tree .
 *  require_self
 * = require animate
 */

@import "foundation_and_overrides";
@import "foundation-icons";


$border-color: #e0e0e0;
$dark-border-color: #d6d6d6;
$light-border-color: #e6e6e6;
@import "devise";
html.turbolinks-progress-bar::before {
  background-color: white !important;
}

body {
  //background: #f7f4f1;
  //background: #fff8dc;
  //background: image-url('background_new');
  background-size: 100% 110%;
}


.contain-to-grid {
  //border-bottom: 2px solid $border-color;
}

//alert
.alert-box {
  margin-top: 3px;
  border-width: 0 0 0 10px !important;
  background: #f4f4f4 !important;
  color: black !important;
}

.notify-area {
  display: none;
}

.main, .footer-wrap{
  background: #ffffff;
  padding: 30px 20px 0 20px;
  //border-left: 6px solid #eee;
  //border-right: 6px solid #eee;
  opacity: 0.9;
  //box-shadow: 10px 10px 10px #ddd;
  a:not([href]){
    color: #555 !important;
    cursor: default;
  }
}
.main {
  min-height: 100%;
  padding-bottom: 0px;
}

.top-bar {

  .name h1 a {
    opacity: 1;
    transition: all 0.25s ease-in-out 0s;
    font-weight: bold;

    &:hover {
      opacity: 0.8;
    }
    img {
      height: 45px;
      margin-top: 5px;
      vertical-align: baseline;
    }
  }

  img.portrait {
    width: 40px;
    height: 40px;
  }
}

.side-nav {
  &.welcome {
    li {
      margin: 0.5rem 0;
    }
  }
  h3 {
    border-left: 4px solid #00ff1d;
    padding-left: 0.75rem;
  }
  margin-right: 1.5rem;
  .portrait {
    //width: 95%;
  }
  a.disabled {
    color: gray !important;
    cursor: auto;
  }
  a.fi-check {
    color: #555 !important;
  }
  a.fi-x{
    color: #ff4500 !important;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 0;
      a:not(.button) {
        padding-bottom: 5px;
      }
    }
  }
}

h2, h3 {
  a.button {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.absolute {
  position: absolute;
}

.page-header {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.75rem;
}

// guide page style
div.guide {
  h2 {
    margin: 0;
    padding: 1rem;
    background: #488cca;
    color: white;
    border-bottom: 3px solid $light-border-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1.75rem;
    padding: 1.25rem 0.5rem;
    border-bottom: 3px solid $light-border-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    li {
      background: image-url("blue_dot.png") no-repeat center right;
      line-height: 1.7rem;
      a {
        color: black;
        &:hover {
          color: #008CBA;
        }
      }
    }
  }
  &.not-allowed {
    h2{
      background-color: gray;
      cursor: not-allowed;
    }
  }
}

// prevent default select style in firefox
select {
  -moz-appearance: none !important;
}

 //style for forms
fieldset {
  border: none;
  padding: 1rem 0 0 0;
  border-top: 1px solid #DDD;
}

fieldset.fields {
  select {
    margin-bottom: 0.25rem;
  }
  padding: 0 1rem 0;
  border: 1px solid #DDD;
  margin: 0.5rem 0;

}

legend {
  font-weight: normal !important;
  &:before {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    content: "\f198";
    margin-right: 0.5rem;
  }
  span.notice {
    color: #F04124;
  }
  select {
    width: auto;
  }
}

table {

  a.sort, th.header a{
    border-bottom: 1px dotted black;
    color: black;
  }
  a.asc:after, a.desc:after, th.headerSortUp a:after, th.headerSortDown a:after {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-left: 0.5rem;
    position: absolute;
  }

  a.asc:after, th.headerSortUp a:after {
    content: "\f109";
  }
  a.desc:after, th.headerSortDown a:after {
    content: "\f10c";
  }

}

.links {
  margin-top: -1rem;
  padding-bottom: 1rem;
}

a.add_fields {
  font-size: 90%;
  &:before {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.2rem;
    content: "\f199";
  }
}

form[id*='adjuvant'], form[id*='imaging'] ,form[id *='sample'], form[id*='sp']{
  .links {
    margin-top: 0.25rem;
    padding-bottom: 1rem;
  }
}

a.remove_fields{
  font-size: 80%;
  color: #f33;
  &:hover {
    color: orangered;
  }
  //&.existing {
  //  display: none;
  //}

}

a.delete, a.fi-x, i.fi-x {
  color: #ff4500
}

div.checkbox {
  display: inline-block;
  margin-right: 0.5rem;
}

.date select, .lump-size input {
  display: inline;
  font-size: 0.778rem;
  background-position: 110% center;
}

.date select {
  width: 30%;
}

.date select:first-of-type {
  width: 35%;
}

.date select:last-of-type {
  width: 25%;
}

.lump-size input{
  width: 45%;
}

.datetime select {
  width: 15%;
  font-size: 0.778rem;
}

.date select, .datetime select {
  padding: 0.3rem;
}

[data-abide] .error span.error {
  font-style: normal;
  position: absolute;
  top: 0;
  right: 0.975rem;
  color: #ff4500;
  background: none;
  padding: 0;
  margin: 0;
  width: 50px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

form[action*='patient'] {
  .error input, .error textarea, .error select {
    margin-bottom: 1rem;
  }

  &:not(.disabled) {
    input:enabled[required='required'] {
      border-color: rgba(56, 139, 186, 0.6);
      background-color: rgba(56, 139, 186, 0.05);
      &:focus{
        border-color: #388bba;
      }
    }
    select:enabled[required='required'] {
      border-color: rgba(56, 139, 186, 0.6);
      background-color: rgba(56, 139, 186, 0.05);
      &:hover{
        border-color: #388bba;
      }
    }
    .error input:enabled {
      border-color: rgba(255, 69, 0, 0.6);
      background-color: rgba(255,69,0, 0.05);
      &:focus{
        border-color: #ff4500;
      }
    }
    .error select:enabled {
      border-color: rgba(255, 69, 0, 0.6);
      background-color: rgba(255,69,0, 0.05);
      &:hover{
        border-color: #ff4500;
      }
    }
  }

}

form {
  abbr.required {
    font-family: "foundation-icons";
    vertical-align: middle;
    font-size: 8px;
  }
  &:not(.disabled) {
    abbr.required {
      color: #ff4500;
    }
  }
  &.disabled {
    a.remove_fields.existing {
      display: none;
    }
  }
}

.error input {
  border-color: rgba(255, 69, 0, 0.6);
  background-color: rgba(255,69,0, 0.05);
  &:focus{
    border-color: #ff4500;
  }
}
.error select{
  border-color: rgba(255, 69, 0, 0.6);
  background-color: rgba(255,69,0, 0.05);
  &:hover{
    border-color: #ff4500;
  }
}

input[type]:focus {
  & + span.error {
    top: inherit;
    right: inherit;
    color: darkblue;
    display: block;
    margin-left: 0px;
    position: absolute;
    text-align: left;
    font-style: italic;
    overflow: inherit;
    white-space: normal;
    background: #FFF none repeat scroll 0% 0%;
    height: auto;
    max-height: none;
    width: calc(100% - 0.9735rem * 2);
    z-index: 89;
    border: 1px solid #CCC;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin-top: -15px;
    &:before {
      border-width: 6px;
      border-style: inset inset solid;
      -moz-border-top-colors: none;
      -moz-border-right-colors: none;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      border-image: none;
      content: "";
      display: block;
      height: 0px;
      width: 0px;
      border-color: transparent transparent #FFF;
      position: absolute;
      top: -12px;
      left: 10px;
      z-index: 89;
    }
    &:after {
      border-width: 7px;
      border-style: inset inset solid;
      -moz-border-top-colors: none;
      -moz-border-right-colors: none;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      border-image: none;
      content: "";
      display: block;
      height: 0px;
      width: 0px;
      border-color: transparent transparent #CCC;
      position: absolute;
      top: -14px;
      left: 9px;
      z-index: 88;
    }
  }
}

// search page
.checkbox input {
  margin-right: 4px;
}

.search-nav {
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;
  a {
    color: black;
    font-size: 1.1rem;
    padding: 0 2px;
    margin-right: 2rem;
    display: inline-block;

    &.active, &:hover {
      border-bottom: 3px solid darken($topbar-bg-color, 20);
    }

  }
}


table {
  width: 100%;
  a.fi-x {
    color: #cc0000;
  }
}

ul.accordion {
  margin-left: 0;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

.accordion .accordion-navigation {
  position: relative;
  border-bottom: 1px solid white;
  a:nth-child(3) {
    background: none;
    position: absolute;
    left: 3rem;
    font-size: 80%;
    top: 4px;
    color: rgb(255, 51, 51);
    &:hover {
      background: none;
      color: orangered;
    }
  }

}

.accordion .accordion-navigation > a, .accordion dd > a {
  padding: 0.5rem 1rem;
}
.accordion .accordion-navigation > .content, .accordion dd > .content {
  border: 1px solid rgb(240, 240, 240);
  border-top: none;
}

footer {
  border-top: 1px solid $dark-border-color;
  padding-top: 20px;
  ul {
    a.th{
      box-shadow: none;
    }
    img { width: 60px; }
    li {
      font-size: rem-calc(13);
    }
  }
}
.medium-3{
  width: 20%!important;
}
.medium-9{
  width: 80%!important;
  margin-top: 20px;
}
.checkbox{
  margin-top: 30px;
}
table tr th, table tr td{
  font-size:11px;
}
/* TODO ? make no sense when putting require at the bottom
* require_tree .
* require_self
*/
