// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-gray: #4F4F4F;
body{
  background: url(grad-north.png),linear-gradient(-90deg, #F2E88F, #00AEEF);
  background-size: 100% 100%;
  background-repeat: repeat-x;
  color: $dark-gray; 
}

.section-title{
  margin-top: 6rem;
  text-align: center;
}

.section-abstract{
  margin-top: 3rem;
  text-align: left;
  .img-big {
    img {
      max-width: 750px;
      border: 5px solid #fff;
      border-radius: 5px;
      box-shadow: 0 -5px 10px rgba(0,0,0,0.05);
    }
  }
  .img-small {
    img {
      max-width: 360px;
      border: 5px solid #fff;
      border-radius: 5px;
      box-shadow: 0 -5px 10px rgba(0,0,0,0.05);
    }
  }
}

.top-bar {
  img.logo {
    height: 30px;
    opacity: 0.8;
  }
}
